* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 37, 37);
  height: 100vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(58, 58, 58);
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.058);
}

button {
  background-color: rgb(147, 45, 255);
  width: 50px;
  height: 24px;  
  text-align: center;
  border-radius: 4px;
  border: none;
  transition: all 0.2s;
  font-size: 0.9em;
  font-weight: 700;
}

button:hover {
  opacity: 0.85;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.211);
  cursor: pointer;
}

.btn_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

input {
  background-color: rgb(213, 213, 213);
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.153);
  margin-bottom: 8px;
  color: black;
  padding-left: 5px;
  height: 24px;
}

.input_div {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.invisible {
  display: none;
}

.horizontal_div {
  display: flex;
  gap: 20px;
}

textarea {
  color: black;
  padding: 4px;
  margin-bottom: 20px;
}