.cards_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards_list {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  background-color: white;
  margin: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 303px;
  height: 620px;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.123);
}

.card-top-container {
  background-color: #e6e6e6;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 303px;
  height: 330px;
  position: relative;
}

.badges-wrapper {
  position: absolute;
  top: 5px;
  left: 5px;
}

.badge {
  color: white;
  border-radius: 2px;
  padding: 2px;
  font-size: 0.9em;
  font-weight: bold;
  margin-right: 5px;
}

.card_bottom_container {
  height: 290px;
  width: 303px;
  display: flex;
  flex-direction: column;
}

.product_price {
  background-color: #FFEB0C;
  padding: 2px 5px;
  border-radius: 4px;
  margin-left: 6px;
}

h4 {
  margin-left: 6px;
}

p {
  margin-left: 6px;
}

.buy-btn {
  background-color: #FFEB0C;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 50px;
  transition: all 0.4s;
}

.add_to_cart_btn {
  background-color: #FF9A0C;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 10px;
  transition: all 0.4s;
}

.add_to_cart_btn:hover,
.buy-btn:hover {
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.221);
}

.reviews {
  color: rgb(99, 99, 255);
}

.badge-promocao {
  background-color: red;
}

.badge-estoque-baixo {
  background-color: rgb(255, 87, 26);
}

.badge-novo {
  background-color: rgb(0, 184, 0);
}

.badge-destaque {
  background-color: purple;
}

.badge-mais-vendido {
  background-color: blue;
}

img {
  width: 250px;
}