.cards_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards_list {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  background-color: white;
  margin: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 303px;
  height: 620px;
}

.card-top-container {
  background-color: #e6e6e6;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 303px;
  height: 330px;
  position: relative;
}

.badges-wrapper {
  position: absolute;
  top: 5px;
  left: 5px;
}

.badge {
  background-color: blue;
  color: white;
  border-radius: 2px;
  padding: 2px;
  font-size: 0.9em;
  font-weight: bold;
  margin-right: 5px;
}

.card_bottom_container {
  background-color: red;
  height: 290px;
  width: 303px;
  display: flex;
  flex-direction: column;
}

.product_price {
  background-color: #FFEB0C;
  padding: 2px 5px;
  border-radius: 4px;
  margin-left: 6px;
}

h4 {
  margin-left: 6px;
}

p {
  margin-left: 6px;
}

.buy-btn {
  background-color: #FFEB0C;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 60px;
}