body {
  background-color: #9f97ff;
  width: 98vw;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_container {
  display: flex;
  flex-direction: row;
  width: 900px;
  align-items: center;
  justify-content: space-evenly;
} 

.header_container h1 {
  color: rgb(0, 0, 0);
  font-size: 2.7em;
}

.header_container button {
  color: black;
  padding: 4px 8px;
  width: 150px;
  border: none;
  background-color: white;
  border-radius: 4px;
  transition: all 0.3s;
}

.header_container button:hover {
  color: black;
  padding: 4px 8px;
  width: 150px;
  border: none;
  opacity: 0.9;
  border-radius: 4px;
  cursor: pointer;
}

.header_container select {
  color: black;
  padding: 4px 8px;
  width: 150px;
  border: none;
  background-color: white;
  border-radius: 4px;
  transition: all 0.3s;
}

.header_container select:hover {
  color: black;
  padding: 4px 8px;
  width: 150px;
  border: none;
  opacity: 0.9;  
  border-radius: 4px;
  cursor: pointer;
}