* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

body {
  background-color: rgb(42, 42, 42);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.pomodoro_container {
  background-color: rgb(59, 59, 59);
  width: 500px;
  height: 400px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;
}

button {
  background-color: rgb(110, 59, 212);
  border: none;
  border-radius: 4px;
  width: 100px;
  height: 30px;
}

.div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div2 {
  margin-top: 15px;
  margin-bottom: 4px;
}

.div3 {
  margin-top: 15px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.div4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.div4 p {
  margin-bottom: 15px;
}